
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;    
}

.gridFull{
	border: 2px double #4e4;
    z-index: 9999; 
    margin-top: 0px;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;     
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #eafaeb;
 }

.grid{
	z-index: 1;
    width: 33%;
    height: 45%;
    float: left;
    border: 1px dotted #444;
    text-align: center;
    position:relative;
}

.grid:hover {   
   border: 1px solid #222;
}

.gridText{
	font: bold 1.5em sans-serif;
    width:100%;
    height:auto;
    position:absolute;
    top:1em;
}

canvas{
	display: block;
    margin: 0 auto;   	   
}